/* INDEX.HTML */

:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-color: #404bbf;
  --basic-bg-color: #fff;
  --secondary-bg-color: #f4f4fd;
  --hero-text-color: #fff;
  --footer-text-color: #f4f4f4;
  --footer-bg-color: #2e2f42;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font-family);
  color: var(--primary-text-color);
  background-color: var(--basic-bg-color);

  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  /* delete after layout */
  outline: 2px solid green;
}
/* HEADER */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.main-header {
  display: flex;
  align-items: center;
}

.site-nav .logo {
  display: flex;
  margin-right: 76px;
}

.logo {
  color: #4d5ae5;

  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-part-header {
  color: var(--secondary-text-color);
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu {
  display: flex;
}

.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
}

.contacts-list .contacts-item + .contacts-item {
  margin-left: 40px;
}

.contact-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--primary-text-color);

  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* MAIN */

/* HERO */

.hero {
  background-color: #2e2f42;

  text-align: center;
}

.main-title {
  margin-bottom: 48px;

  color: var(--hero-text-color);

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-btn {
  padding: 16px 32px;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  color: var(--hero-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
}

/* FEATURES */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-item-title {
  margin-bottom: 8px;

  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* WHAT ARE WE DOING */

.works {
  padding-top: 0;
}

.works-title,
.team-title {
  margin-bottom: 72px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* Our Team */

.our-team {
  background-color: var(--secondary-bg-color);
}

.team-card {
  background-color: var(--basic-bg-color);
}

.team-img {
  margin-bottom: 32px;
}
.team-name {
  margin-bottom: 8px;
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-text {
  margin-bottom: 32px;
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

/* FOOTER */

.footer {
  background-color: var(--footer-bg-color);
}

.logo-part-footer {
  color: var(--footer-text-color);
}

.footer-text {
  margin-top: 16px;
  color: var(--footer-text-color);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* PORTFOLIO.HTML */

/* FILTERS */

.filters-btn {
  background-color: #f4f4f4;
  color: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--accent-color);
  color: #fff;
}

/* PROJECTS */

.projects-name {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.projects-type {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
